/* PALETA DE COLORES: https://colorhunt.co/palette/142663
 * #ececec blanco roto
 * #9fd3c7 azulito
 * #A2A9D3 azulito mas oscurito
 * #385170 azul oscuro
 * #142d4c casi negro
 */


.titulo1{
	-fx-font-size: 52pt;
	-fx-text-fill: #142d4c;
	-fx-effect: dropshadow(three-pass-box, #9fd3c7, 10, 0, 0, 0);
}

.titulo2{
	-fx-font-size: 24pt;
	-fx-text-fill: #142d4c;
}

.titulo3{
	-fx-font-size: 15pt;
	-fx-text-fill: #142d4c;
}

.titulo2blanco{
	-fx-font-size: 24pt;
	-fx-text-fill: #ececec;
}

.tituloCui{
	-fx-font-size: 34pt;
	-fx-text-fill: #9fd3c7;
}


.default-color0.chart-bar { -fx-bar-fill: #9fd3c7 }

.Imagen{
	-fx-background: #142d4c;
	-fx-background-image: url('logo2.png');
	-fx-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #464646;
}




.lbErrorMedico{
	-fx-font-size: 16pt;
	-fx-text-fill: #000000;
}
.textAreaMedico{
	-fx-background-color: #ececec;
	-fx-background-radius: 15px;
	-fx-border-radius: 15px; 
}
.fondoMedicoPaciente{
	-fx-background-color: #9fd3c7;
}
.colorRaro{
	-fx-background-color: #ececec;
}
.negro{
	-fx-background-color: #000000;
}
.listViewMedico{
	-fx-background-color: #385170;
	-fx-background-radius: 15px;
	-fx-border-radius: 15px; 
}
.lbMedicoPaciente{
	-fx-font-size: 16pt;
	-fx-text-fill: #000000;
}
.btnMedico:hover{
	-fx-font-size: 16pt;
	-fx-background-color: transparent;
	-fx-text-fill: #142d4c;
	-fx-background-radius: 15px;
	-fx-border-color: #142d4c;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 15px;
}
.btnMedico{
	-fx-font-size: 16pt;
	-fx-background-color: #142d4c;
	-fx-text-fill: #ececec;
	-fx-background-radius: 15px;
}
.fondoMedicoHome{
	-fx-background-color: #9fd3c7;
}
.tableView{
	-fx-border-radius: 15px; 
	-fx-background-radius: 15px;
	-fx-border-color: #9fd3c7;
	-fx-background-color: #ececec;
	-fx-font-size: 13pt; 
	-fx-text-fill: #000000;
}

.btnCuidador:hover{
	-fx-font-size: 16pt;
	-fx-background-color: transparent;
	-fx-text-fill: #ececec;
	-fx-background-radius: 15px;
	-fx-border-color: #ececec;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 15px;
}
.btnCuidador{
	-fx-font-size: 16pt;
	-fx-background-color: #9fd3c7;
	-fx-text-fill: #142d4c;
	-fx-background-radius: 15px;
}
.fonfoCuidadorHome{
	-fx-background-color: #385170;
}
.fondoPacienteHome{
	-fx-background-color: #142d4c;
}
.lbErrorPaciente{
	-fx-font-size: 16pt;
	-fx-text-fill: #ececec;
}
.btnPaciente:hover{
	-fx-font-size: 16pt;
	-fx-background-color: transparent;
	-fx-text-fill: #ececec;
	-fx-background-radius: 15px;
	-fx-border-color: #ececec;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 15px;
}
.btnPaciente{
	-fx-font-size: 16pt;
	-fx-background-color: #385170;
	-fx-text-fill: #ececec;
	-fx-background-radius: 15px;
}
.textAreaPaciente{
	-fx-font-size: 16pt; 
	-fx-background-color: #ececec;
	-fx-border-radius: 15px; 
	-fx-background-radius: 15px;
	-fx-text-fill: #ffffff;
}
.litaPacienteHome{
	-fx-background-color: #9fd3c7;
	-fx-background-radius: 15px;
	-fx-border-radius: 15px; 
	-fx-text-fill: #ececec;
}
.loginFondo{
	-fx-background-color: linear-gradient(#ececec, #9fd3c7, #385170, #142d4c);
}

.fondo{
	-fx-background-color: #9FD3C7; /*azul*/
	-fx-background-color: linear-gradient(#ececec, #9FD3C7);
}

.retBtn{
	-fx-font-family: System;
	-fx-font-size: 15pt;
	-fx-text-fill: #ececec;
	-fx-font-weight: bold;
}

.retBtn:hover{
	-fx-font-family: Systemf;
	-fx-font-size: 15pt;
	-fx-text-fill: #ececec;
	-fx-font-weight: bold;
	-fx-underline: true;
}

.loginButton{
	-fx-font-size: 16pt;
	-fx-background-color: #ececec;
	-fx-text-fill: #142d4c;
	-fx-background-radius: 5px;
}

.loginButton:hover{
	-fx-font-size: 16pt;
	-fx-background-color: transparent;
	-fx-text-fill: #ececec;
	-fx-background-radius: 5px;
	-fx-border-color: #ececec;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

.mainButton{
	-fx-font-size: 16pt;
	-fx-background-color: #385170;
	-fx-text-fill: #9fd3c7;
	-fx-background-radius: 5px;
}

.mainButton:hover{
	-fx-font-size: 16pt;
	-fx-background-color: transparent;
	-fx-text-fill: #142d4c;
	-fx-background-radius: 5px;
	-fx-border-color: #385170;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}


.caja{	
	-fx-background-color: #ececec;
	-fx-text-fill: #142d4c;
}